::ng-deep .mat-mdc-text-field-wrapper {
  height: 35px !important; 
  border-radius: 6px !important;
  font-size: 14px;
  background: #f7f8fa;
}

::ng-deep .custom-field .mat-mdc-form-field-subscript-wrapper{
  background: #f7f8fa;
}

::ng-deep .mat-mdc-form-field-flex{
  margin-top: -11px;
}

::ng-deep .custom-field .mat-mdc-text-field-wrapper {
  height: 35px !important;
}

/* Estado normal (label centrado cuando el input está vacío) */
::ng-deep .custom-field .mdc-floating-label {
  top: 50% !important;
  margin-right: 10px;
  transform: translateY(-50%) translateX(0) !important;
  font-size: 14px !important; /* ajusta según quieras */
}

/* Estado flotante (cuando escribes o está en foco) */
::ng-deep .custom-field .mdc-floating-label.mdc-floating-label--float-above {
  top: 0 !important;
  margin-left: 2px !important;
  transform: translateY(-50%) scale(0.75) !important;
  font-size: 12px; /* se achica */
}