<app-card title="Detalle del Préstamo">

  <div class="detail-grid">
    <div>
      <strong>Usuario</strong>
      <p>{{ loan.usuario.nombre_Completo }}</p>
    </div>

    <div>
      <strong>Estado</strong>
      <p [class.inactive]="!loan.estado">
        {{ loan.estado ? 'Activo' : 'Finalizado' }}
      </p>
    </div>

    <div>
      <strong>Fecha Préstamo</strong>
      <p>{{ loan.fechaPrestamo | date:'dd/MM/yyyy' }}</p>
    </div>

    <div>
      <strong>Fecha Límite</strong>
      <p>{{ loan.fechaLimiteDevolucion | date:'dd/MM/yyyy' }}</p>
    </div>

    @if(loan.fechaRealDevolucion){
        <div>
        <strong>Fecha Real Devolución</strong>
        <p>{{ loan.fechaRealDevolucion | date:'dd/MM/yyyy' }}</p>
        </div>
    }

  </div>

  <div class="section">
    <strong>Libros prestados</strong>

    <ul class="book-list">
      @for(libro of loan.libros; track libro.id){
        <li>
          📘 {{ libro.titulo }} — {{ libro.autor }}
        </li>
      }
    </ul>
  </div>

  @if(loan.observacion){
    <div class="section">
        <strong>Observaciones</strong>
        <p>{{ loan.observacion }}</p>
    </div>
  }

  <div class="actions">
    <app-button
      label="Cerrar"
      type="button"
      (clickEvent)="close.emit()">
    </app-button>
  </div>

</app-card>