.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  margin-left: 300px;
  background-color: #ffffff;
  overflow-y: auto;
}

.content-expanded {
  margin-left: 60px;
}

.content-inner {
  padding: 1rem;
}