.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  margin-left: 300px;
  background: linear-gradient(135deg, #f4f1ec, #e8e2d8);
  overflow-y: auto;
}

.content-expanded {
  margin-left: 60px;
}

.content-inner {
  padding: 1rem;
}