div {
  display: flex;
  gap: 12px;
  padding: 14px 16px;
  align-items: center;
}

app-button {
  margin-top: -20px;
}

app-button[color="accent"] {
  margin-left: auto;
}

@media (max-width: 768px) {
  div {
    flex-direction: column;
    align-items: stretch;
  }

  app-button[color="accent"] {
    margin-left: 0;
  }
}
